<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta charset="UTF-8" />
  <title>Chat Bot UI</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css" />
  <link rel="stylesheet prefetch" href="https://fonts.googleapis.com/css?family=Open+Sans" />
  <link rel="stylesheet prefetch"
        href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.3/jquery.mCustomScrollbar.min.css" />
  <link rel="stylesheet" href="../static/css/style.css" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</head>

<body>
  <div class="chat">
    <div class="chat-title">
      <h1>BILAL</h1>
      <h2>Bot</h2>
      <figure class="avatar">
        <img src="../static/img/bat.png" />
      </figure>
      <div>
        <button class="btn-sm btn-dark" style="display: block;position: absolute;top: 5px;right: 20px;"
                data-toggle="modal" data-target="#extraLargeModal"> Settings </button>
      </div>
    </div>
    <div class="messages">
      <div class="messages-content"></div>
    </div>
    <div class="message-box">
      <textarea type="text" class="message-input" style="overflow: hidden;" placeholder="Type message..."></textarea>
      <button type="button" class="message-record"></button>
      <button type="submit" class="message-submit">Send</button>
    </div>
  </div>
  <div id="extraLargeModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Settings</h5>
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true"> &times; </button>
        </div>
        <div class="modal-body">
          <form>
            <div class="row">
              <div class="form-group col-lg-6">
                <label for="inputState">Reciter</label>
                <select id="inputState" class="form-control">
                  <option selected>مشاري بن راشد العفاسي</option>
                  <option>سعد الغامدي</option>
                  <option>عبدالرحمن السديس</option>
                  <option>أحمد بن علي العجمي</option>
                  <!-- عبدالرحمن السديس sds- أحمد بن علي العجمي ajm - سعد الغامدي s_gmd - مشاري بن راشد العفاسي afs  -->
                </select>
              </div>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal"> Cancel </button>
          <button id="settings-modal-btn" type="submit" class="btn btn-primary">OK</button>
        </div>
        </form>
      </div>
    </div>
  </div>
  <div class="bg"></div>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script
          src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.3/jquery.mCustomScrollbar.concat.min.js"></script>
  <script src="../static/js/index.js"></script>
</body>

</html>